* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

.italianno-regular {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    position: relative;
}

/* Input field and button */
.input {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.input input {
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    width: 40%;
    max-width: 300px; /* Ensure width doesn't get too large */
}

button {
    padding: 15px 20px; /* Reduced padding for better mobile fit */
    border-radius: 15px;
    border: none;
    margin-bottom: 2rem;
    background-color: blue;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
}

/* Celebration section */
.celebration {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Responsive images */
#lantern, #lantern1, #moon {
    width: 100%; /* Make images responsive */
    max-width: 350px; /* Set a max width */
    height: auto; /* Maintain aspect ratio */
    opacity: 0;
}

/* Mosque image */
.mosque {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
}

.mosque > img {
    width: 100%;
    min-width: 200px;
    min-height: 200px;
    height: auto;
    opacity: 0;
    bottom: 0;
}


.text {
    position: absolute;
    display: none;
    bottom: 30%;
    overflow: hidden;
    z-index: 99999;
}

h2 {
    font-family: 'Scheherazade New', serif;
    font-size: 90px; /* Responsive font size */
    color: rgb(238, 188, 23);
    text-align: center;
    margin-top: 10px;
    z-index: 99999;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        min-height: 90vh; /* Reduce height for smaller screens */
    }

    .input input {
        width: 80%; /* Take more width on smaller screens */
    }

    #lantern, #lantern1, #moon {
        max-width: 200px; /* Reduce image size on small screens */
    }

    h2 {
        font-size: 80px;
    }
}
@media (max-width: 475px) {
    h2 {
        font-size: 60px;
    }
}